<nav class="navbar bg-body-tertiary">
  <div
    class="container-fluid justify-content-center justify-content-md-between"
  >
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0">
      Courses <sup>4</sup> arab</a
    >

    <form action="/search" method="post" class="d-flex" role="search">
      <input
        class="form-control me-2"
        name="searchText"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>