<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>   <%= mytitle %>    </title>
    <link rel="stylesheet" href="mystyle.css">
    <style>
      input,
      button {
        font-size: 33px;
      }
    </style>
  </head>
  <body>
    <h1>What is ur Name?</h1>

    <form  action="/" method="post">
      <input name="userNameee" type="text" />
      <br />
      <br />
      <button>Send to DB</button>
    </form>

    <h1>your name is  <%= arr.at(-1).userNameee %> </h1>




 
 


  </body>
</html>
