<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Edit page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/dark-light.css">


    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>
    <%- include('../Components/dark-light.ejs') %>

    <main class="d-flex flex-nowrap">
      <%- include('../Components/sidebar.ejs', {currentPage: "edit"}) %>


      <section class="w-100">
        <%- include('../Components/navbar.ejs') %>


        <nav class="px-2 mt-4 d-flex flex-wrap justify-content-between" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ali Hassan</li>
          </ol>


          <p class="me-md-5"> <span class="fw-medium fs-6">Id :</span> 6487021520bcf1af6319484c</p>
        </nav>








        <form class="mx-0 row gx-3 gy-4 mt-2">
          <div class="col-md-6">
            <label for="inputfirstName4" class="form-label">First Name:</label>
            <input
              placeholder="Ali..."
              type="text"
              class="form-control"
              id="inputfirstName4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputlastName4" class="form-label">Last Name:</label>
            <input
              placeholder="Hassan..."
              type="text"
              class="form-control"
              id="inputlastName4"
            />
          </div>

          <div class="col-md-6">
            <label for="inputemail4" class="form-label">Email:</label>
            <input
              placeholder="ali@gmail.com"
              type="email"
              class="form-control"
              id="inputemail4"
            />
          </div>
          <div class="col-md-6">
            <label for="inputtele4" class="form-label">Telephone:</label>
            <input
              placeholder="011987899"
              type="number"
              class="form-control"
              id="inputtele4"
            />
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputage4" class="form-label">Age:</label>
              <input
                placeholder="Your Age: ..."
                type="number"
                class="form-control"
                id="inputage4"
              />
            </div>
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputCountry" class="form-label">Country:</label>
              <select id="inputCountry" class="form-select">
                <option selected hidden disabled>Choose here ...</option>

                <option>Morocco</option>
                <option>Egypt</option>
              </select>
            </div>
          </div>

          <div>
            <div class="col-md-6">
              <label for="inputGender" class="form-label">Gender:</label>
              <select id="inputGender" class="form-select">
                <option selected hidden disabled>Choose here ...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">
              Update changes
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              type="button"
              class="btn btn-danger"
            >
              Delete Customer
            </button>
          </div>
        </form>
      </section>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Delete Customer
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Are you sure you want to continue delete the customer?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
